<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hamburger.hamburger.mapper.ForgetPasswordMapper">


    <!--int updateForgetPassword(ForgetPassword forgetPassword);-->
    <!--根據 account 修改 ams_admin 表中的密碼數據-->
    <update id="updateForgetPassword">
        UPDATE
        ams_admin
        <set>
            <if test="password != null">
                password=#{password},
            </if>
        </set>
        WHERE
        account=#{account}
    </update>


    <!--ForgetPasswordVO getAdmin(String account);-->
    <!--根據 account 查詢 ams_admin 表內的數據-->
    <select id="getAdmin" resultType="com.hamburger.hamburger.pojo.vo.ForgetPasswordVO">
      SELECT
      id,username,account,password,phone,mail,birthday,enable,description
      FROM
      ams_admin
      WHERE
      account = #{account}
    </select>


</mapper>